<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste</title>
</head>
<body>
    <h1>Formulaire de saisie de jeu</h1>
    <p>Vous pouvez écrire votre jeu à ajouter au système</p>

    <label for="name">Nom du jeu</label>
    <input type="text" name="name" id="name" placeholder="nom">
    <br>

    <label for="price">Prix du jeu</label>
    <input type="number" name="price" id="price" placeholder="prix">
    <br>

    <label for="description">Description</label>
    <textarea name="description" id="description" placeholder="description"></textarea>
    <br>

    <button type="button" onclick="create()">Valider</button>
    
</body>
<script>
    async function create() {
	   const name = document.getElementById('name');
       const price = document.getElementById('price');
       const description = document.getElementById('description');
	   const response = await fetch("/saisie",
			{ method: 'POST',
			  headers: {'Accept': 'application/json, text/plain, */*',
    				    'Content-Type': 'application/json'
  			  },
			  body: JSON.stringify({'nom':name.value, 'price':price.value, 'description':description.value})
			});
    	name.value='';
    	price.value='';
    	description.value='';
	}
</script>
</html>