* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #FFFBDB;
}

header {
    display: flex;
    order: 2;
    justify-content: space-between;
    align-content: center;
    background-color: #91972a;
    /* rgba(0, 0, 0, 0.2); opacity: 4; */
    padding: 1vw;
    /* flex-direction: row; */
    box-shadow: 0px 5px 10px #283618;
}

header img {
    width: 50px;
}

p {
    margin: 0.5vw;
}

.infos-user {
    margin: 2vw;
}

.deconnexion {
    background-color: #EC7505;
    border-radius: 15px;
    color: #FFFBDB;
}


/* #EC7505 orange
#0FA3B1 blockquote283618 vert foncé
#FFFBDB beige */