<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE PROGRESSION</title>
    <link rel="stylesheet" href="../static/compte.css" />
</head>

<body>
    <header>
        <a href="/index"><img src="../static/images/logo_maison.png" alt="accueil"></a>
        <!-- route retour à l'index? -->
        <a href="/progression"><img src="../static/images/logo_graphe.png"></a>
        <!-- route vers progression -->
        <h1>QUIZOO</h1>
        <a href="/compte"><img src="../static/images/logo_profil.png" alt="profil"></a>
        <!-- route vers compte -->
    </header>
    <div class="infos-user">
        <p><b>NOM : </b>{{liste_donnees_user[1]}}</p>
        <p><b>PRENOM : </b>{{liste_donnees_user[2]}}</p>
        <p><b>MAIL : </b>{{liste_donnees_user[3]}}</p>
        <p><b>DATE DE NAISANCE :</b> {{liste_donnees_user[4]}}</p>
        <p><b>MOT DE PASSE : </b>{{liste_donnees_user[5]}}</p>
    </div>
    <div class="deconnexion">
        <a href="/logout">Déconnexion</a>
    </div>



</body>

</html>