<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE PROGRESSION</title>
</head>

<body>
    <header>
        <a href="/index">Home</a>
        <!-- route retour à l'index? -->
        <a href="/progression">Progression</a>
        <!-- route vers progression -->
        <h1>QUIZOO</h1>
        <a href="/compte">Compte</a>
        <!-- route vers compte -->
        <a href="/logout">Déconnexion</a>
    </header>
    <p>{{liste_donnees_user}}</p>



</body>

</html>