<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE PROGRESSION</title>
    <link rel="stylesheet" href="../static/compte.css" />
</head>

<body>
    <header>
        <a href="/index">Home</a>
        <!-- route retour à l'index? -->
        <a href="/progression">Progression</a>
        <!-- route vers progression -->
        <h1>QUIZOO</h1>
        <a href="/compte">Compte</a>
        <!-- route vers compte -->
    </header>
    <p>NOM : {{liste_donnees_user[1]}}</p>
    <p>PRENOM : {{liste_donnees_user[2]}}</p>
    <p>MAIL : {{liste_donnees_user[3]}}</p>
    <p>DATE DE NAISANCE : {{liste_donnees_user[4]}}</p>
    <p>MOT DE PASSE : {{liste_donnees_user[5]}}</p>
    <a href="/logout">Déconnexion</a>



</body>

</html>