<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONNEXION</title>
    <link rel="stylesheet" href="../static/connexion.css" />
</head>

<body>
    <header>
        <h1 style="margin: auto;">QUIZOO</h1>
    </header>
    <div class="connexion-inscription">
        <div class="form-connexion">
            <h1 style="color:#EC7505;">CONNEXION</h1>
            <form action="http://127.0.0.1:5000/connexion" method="POST">

                <div class="elements-form">
                    <label for="identifiant" class="titre-case-connexion">Identifiant ou email</label>
                    <input type="text" name="email" id="email" placeholder="Identifiant ou email" class="case-connexion">
                </div>
                <div class="elements-form">
                    <label for="MDP" class="titre-case-connexion">Mot de passe</label>
                    <input type="text" name="mdp" id="mdp" placeholder="Mot de passe" class="case-connexion">
                </div>
                <div class="elements-form">
                    <input type="submit" style="background-color:#EC7505; color:#FFFBDB;" value="JOUER">
                </div>
            </form>
        </div>

        <div class="form-connexion">
            <h1 style="color:#91972a;">INSCRIPTION</h1>

            <form action="http://127.0.0.1:5000/inscription" method="POST" class="form-inscription">
                <div class="elements-form">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email" placeholder="Email" class="case-inscription">
                </div>
                <div class="elements-form">
                    <label for="identifiant">Nom</label>
                    <input type="text" name="nom" id="nom" placeholder="Nom" class="case-inscription">
                </div>
                <div class="elements-form">
                    <label for="identifiant">Prenom</label>
                    <input type="text" name="prenom" id="prenom" placeholder="Prenom" class="case-inscription">
                </div>
                <div class="elements-form">
                    <label for="Date">Date de naissance</label>
                    <input type="date" name="date_de_naissance" id="date_de_naissance" placeholder="JJ/MM/AAAA" class="case-inscription">
                </div>
                <div class="elements-form">
                    <label for="MDP">Mot de passe</label>
                    <input type="password" name="mdp" id="mdp" placeholder="Mot de passe" class="case-inscription">
                </div>
                <div class="elements-form">
                    <input type="submit" style="background-color:#91972a; color:#FFFBDB;" value="VALIDER">
                </div>
            </form>
            <!-- Envoyer à la BDD -->
        </div>
    </div>

    <script>
        async function create() {
            const nom = document.getElementById('nom');
            const prenom = document.getElementById('prenom');
            const email = document.getElementById('email');
            const date_de_naissance = document.getElementById('date_de_naissance');
            const mot_de_passe = document.getElementById('mot_de_passe');
            const response = await fetch("/saisie", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'nom': name.value,
                    'prenom': prenom.value,
                    'email': email.value,
                    'date_de_naissance': date_de_naissance.value,
                    'mot_de_passe': mot_de_passe.value
                })
            });
            name.value = '';
            prenom.value = '';
            email.value = '';
            date_de_naissance.value = '';
            mot_de_passe.value = '';
        }
    </script>




    <!-- <script>
        const response = await fetch("/liste", {
            method: "GET"
        })
    </script> -->
</body>

</html>