<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE ACCUEIL</title>
</head>
<header>

</header>

<body>
    <h1>QUIZOO</h1>

    <h1>CONNEXION</h1>

    <label for="identifiant">Identifiant ou email</label>
    <input type="text" name="name" id="identifiant" placeholder="Identifiant ou email">
    <br>

    <label for="MDP">Mot de passe</label>
    <input type="text" name="motdepasse" id="MDP" placeholder="Mot de passe">
    <br>

    <button type="button" onclick="connect()">JOUER</button>
    <!-- Vérifier avec la BDD -->

    <!-- <button type="button" onclick="create()">Valider</button> -->
    <h1>INSCRIPTION</h1>

    <label for="identifiant">Identifiant</label>
    <input type="text" name="name" id="identifiant" placeholder="Identifiant ou email">
    <br>

    <label for="email">Email</label>
    <input type="text" name="email" id="email" placeholder="Email">
    <br>

    <label for="Date">Date de naissance</label>
    <input type="date" name="date" id="date" placeholder="JJ/MM/AAAA">
    <br>

    <label for="MDP">Mot de passe</label>
    <input type="text" name="motdepasse" id="MDP" placeholder="Mot de passe">
    <br>

    <button type="button" onclick="create()">JOUER</button>
    <!-- Envoyer à la BDD -->


    <script>
        async function create() {
            const nom = document.getElementById('nom');
            const prenom = document.getElementById('prenom');
            const email = document.getElementById('email');
            const date_de_naissance = document.getElementById('date_de_naissance');
            const mot_de_passe = document.getElementById('mot_de_passe');
            const response = await fetch("/saisie", {
                method: 'POST',
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'nom': name.value,
                    'prenom': prenom.value,
                    'email': email.value,
                    'date_de_naissance': date_de_naissance.value,
                    'mot_de_passe': mot_de_passe.value
                })
            });
            name.value = '';
            prenom.value = '';
            email.value = '';
            date_de_naissance.value = '';
            mot_de_passe.value = '';
        }
    </script>




    <!-- <script>
        const response = await fetch("/liste", {
            method: "GET"
        })
    </script> -->
</body>

</html>