<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE SESSION</title>
</head>

<body>
    <header>
        <button onclick="">Home</button>  <!-- route retour à l'index? --> 
        <button onclick="">Progression</button> <!-- route vers progression -->
        <h1>QUIZOO</h1>
        <button onclick="">Compte</button> <!-- route vers compte -->
    </header>
    <div class="container"> <!-- RÉCUPÉRER ET AFFICHER LES THÈMES DE LA BDD + lien vers la progression ou question? -->
        <h2>THEME 1</h2>
    </div>
    <div class="container">
        <h2>THEME 2</h2>
    </div>
    <div class="container">
        <h2>THEME 3</h2>
    </div>
    <div class="container">
        <h2>THEME 4</h2>
    </div>

</body>

</html>