<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE PROGRESSION</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
    <header>
        <a href="/index">Home</a>
        <!-- route retour à l'index? -->
        <a href="/progression">Progression</a>
        <!-- route vers progression -->
        <h1>QUIZOO</h1>
        <a href="/compte">Compte</a>
        <!-- route vers compte -->
    </header>

    <div class="container">
        <!-- RÉCUPÉRER ET AFFICHER LES THÈMES DE LA BDD + lien vers la progression ou question? -->
        <h2>Graphe de progression de cette semaine : </h2>
    </div>

    <!-- On créer le graphe de progression -->
    <canvas id="lineChart" width="900" height="400"></canvas>
    <script>
        var dates = JSON.parse('{{ dates_et_scores | map(attribute=0) | list | tojson | safe }}');
        var scores = JSON.parse('{{ dates_et_scores | map(attribute=1) | list | tojson | safe }}');

        var ctx = document.getElementById("lineChart").getContext("2d");
        var lineChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dates,
                datasets: [{
                    label: 'Scores',
                    data: scores,
                    fill: false,
                    borderColor: "rgb(75, 192, 192)",
                    lineTension: 0.1
                }]
            },
            options: {
                responsive: false
            }
        });
    </script>
</body>



</body>

</html>