<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE QUESTION</title>
</head>

<body>
    <header>
        <h1>QUIZOO</h1>
        <button onclick="">Quitter</button>
        <!-- Retour à l'accueil -->
    </header>

    <div class="global-container">
        <!-- RÉCUPÉRER LES QUESTIONS ET LES RÉPONSES ASSOCIÉES ET LES AFFICHER -->

        <div class="question">
            <div class="question-container">
            </div>
            <div class="reponse-container">
                <img id="reponse-0" class="reponse" src="" width="500" height="600" alt="" onclick="check_reponse(0)">
                <img id="reponse-1" class="reponse" src="" width="500" height="600" alt="" onclick="check_reponse(1)">
                <img id="reponse-2" class="reponse" src="" width="500" height="600" alt="" onclick="check_reponse(2)">
            </div>
        </div>
    </div>
    <div class="correction-container">
        <p id="correction" visibility="hidden"></p>
        <button id="bouton-suivant" type="button" onclick="question_suivante()" style="visibility: hidden;" disabled>SUIVANT</button>
    </div>

    <script>
        var compteur_question = 0;
        var score = 0;

        window.addEventListener("load", async function (event) {
            question_suivante();
        });

        async function load_questions() {
            const response = await fetch("/api/v1/question", { method: "GET" });
            const list_questions = await response.json();

            return list_questions;
        }

        async function display_question(question_actuelle) {
            document.getElementsByClassName("question-container")[0].innerHTML = ` <h2>Question `+compteur_question+`</h2> 
                                                                                <p>`+question_actuelle["libelle"]+`</p>`;

            for (const reponse in question_actuelle["reponses"]) {
                var image = document.getElementById(`reponse-`+ reponse);
                image.setAttribute("src", question_actuelle["reponses"][reponse]["image"]);
                image.setAttribute("alt", question_actuelle["reponses"][reponse]["libelle"]);
                image.setAttribute("onclick", `check_reponse(`+reponse+`)`)
            }
        }

        async function check_reponse(reponse) {
            const list_questions = await load_questions();
            const question_actuelle = list_questions[compteur_question-1];

            var bouton = document.getElementById("bouton-suivant");
            var correction = document.getElementById("correction");

            if (question_actuelle["reponses"][reponse]["id"] == question_actuelle["id bonne reponse"]) {
                var texte = `Correct ! La bonne réponse est bien `;
                score++;
                
            } 
            else {
                var texte = `Faux ! La bonne réponse était `
            }

            for (const element in question_actuelle["reponses"]) {
                document.getElementById(`reponse-`+ element).removeAttribute("onclick")
                

                if (question_actuelle["id bonne reponse"] == question_actuelle["reponses"][element]["id"]) {
                    var texte_bonne_reponse = question_actuelle["reponses"][element]["libelle"];
                }
            }

            bouton.style.visibility = "visible";
            bouton.disabled = false;
            correction.style.visibility = "visible";
            correction.innerHTML = texte + texte_bonne_reponse;
        }

        async function question_suivante() {
            const list_questions = await load_questions();
            var question_actuelle = list_questions[compteur_question];

            // Cache la partie correction 
            var bouton = document.getElementById("bouton-suivant");
            var correction = document.getElementById("correction");

            bouton.style.visibility = "hidden";
            bouton.disabled = true
            correction.style.visibility = "hidden";
            
            // Vérifie si l'uilisateur est à la dernière question
            if (compteur_question < Object.keys(list_questions).length) {
                compteur_question++;
                display_question(question_actuelle);
            }
            else {
                display_score();
            }
        }

        function display_score() {
            document.getElementsByClassName("global-container")[0].innerHTML = `<h2>Félicitation !<h1>
                                                                                <p>Ton score est de `+score+`/`+compteur_question+` !</p>
                                                                                <button>Retour au menu</buton>`
                                                                                
        }
    </script>

</body>

</html>