<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAGE QUESTION</title>
</head>
<body>
<header>
    <h1>QUIZOO</h1>
    <button onclick="">Quitter</button>
</header>

    <div class="global-container">
        <div class="question1">
            <div class="question1-container">
                <h2>QUESTION 1</h2>
                <p>Combien de carottes les lapins mangent-ils par jour?</p>
            </div>
            <div class="reponse-container">
                <img src="carotte_10kg.jpg" alt="Girl in a jacket" width="500" height="600" alt="carotte 10kg">
                <img src="carotte_15kg.jpg" alt="Girl in a jacket" width="500" height="600" alt="carotte 15kg">
                <img src="carotte_20kg.jpg" alt="Girl in a jacket" width="500" height="600" alt="carotte 20kg">
            </div>        
        </div>
        <div class="question2">
            <div class="question2-container">
                <h2>QUESTION 2</h2>
                <p>POurquoi 1+1 font 2?</p>
            </div>
            <div class="reponse-container">
                <img src="ddk.jpg" alt="Girl in a jacket" width="500" height="600" alt="ddk">
                <img src="duuu.jpg" alt="Girl in a jacket" width="500" height="600" alt="duuu">
                <img src="diiii.jpg" alt="Girl in a jacket" width="500" height="600" alt="diiii">
            </div>
        </div>
        <div class="question3">
            <div class="question3-container">
                <h2>QUESTION 3</h2>
                <p>comment le loup mange la toorut?</p>
            </div>
            <div class="reponse-container">
                <img src="ddk.jpg" alt="Girl in a jacket" width="500" height="600" alt="ddk">
                <img src="duuu.jpg" alt="Girl in a jacket" width="500" height="600" alt="duuu">
                <img src="diiii.jpg" alt="Girl in a jacket" width="500" height="600" alt="diiii">
            </div>
        </div>
        <div class="question4">
            <div class="question4-container">
                <h2>QUESTION 4</h2>
                <p>Pourquoi les elephant ontt une trompe?</p>
            </div>
            <div class="reponse-container">
                <img src="ddk.jpg" alt="Girl in a jacket" width="500" height="600" alt="ddk">
                <img src="duuu.jpg" alt="Girl in a jacket" width="500" height="600" alt="duuu">
                <img src="diiii.jpg" alt="Girl in a jacket" width="500" height="600" alt="diiii">
            </div>
        </div>
    </div>

</body>

</html>